{% extends '__autoindex__/autoindex.html' %}

{% block meta %}
  {{ super() }}
  <link rel="stylesheet"
    href="{{ url_for('static', filename='main.css') }}" />    
{% endblock %}

{% block header %}
  <div style="width: 500px; margin: 30px auto;">
    <h2>Folder tree</h2>
{% endblock %}

{% block footer %}
  </div>
{% endblock %}